#Entidad path{}
#Entidad path.path_active{
	fill: #84b13c;
	cursor: pointer;
}
#Entidad path.path_active:hover{
	fill: #4d6d0c !important;
}

#mexico_map path{
	cursor: pointer;
}
#mexico_map path:hover{
	fill: #4d6d0c !important;
}
.tooltip_svg{
	position: absolute;
	display: none;
	background: #323200;
	color: white;
	font-size: 13px;
	padding:13px;
	text-transform: uppercase;
	border-radius: 18px;
	text-align: center;
    font-family: 'nilland-smallcapsregular';	
}