<section id="section_two" class="section  activa">
	<div class="content">
        <div class="column">
			
            <div class="rosadelosvientos"></div>			
		</div>
		<div class="column_table">
            <div class="data-table">
                <div class="table-header">
                    <div class="item-row">
                        <div class="item-column">
                            <p>Localidad</p>
                        </div>                
                        <div class="item-column">
                            <p>Vivienda calificada</p>
                        </div>
                    </div>
                </div>
                <div class="table-content" id="table_one">
                    <div class="items-table">
                        <div class="item-row">
                            <div class="item-column">
                               <p> <a href="#">Abasolo</a></p>
                            </div>
                        </div>
                        <div class="item-row">
                            <div class="item-column">
                                <p><a href="#">Agualenguas</a></p>                                         
                            </div>  
                        </div>
                        <div class="item-row">
                            <div class="item-column">
                                <p><a href="#">Allende</a></p>
                            </div> 
                            <div class="item-column">
                                <p>calificada</p>
                            </div> 
                        </div>
                        <div class="item-row">
                            <div class="item-column">
                                <p>Anahuac</p>
                            </div>
                        </div>
                        <div class="item-row">
                            <div class="item-column">
                                <p>Apodaca</p>
                            </div>                                            
                        </div>
                        <div class="item-row">
                            <div class="item-column">
                                <p>Apodaca</p>
                            </div>                                            
                        </div>
                        <div class="item-row">
                            <div class="item-column">
                                <p>Apodaca</p>
                            </div>                                            
                        </div>
                    </div>                                    
                </div>
            </div>
        </div>
	</div>
</section>