 <section id="section_nine" class="section activa">
    <div class="content">
        <div class="materiales">
            <img src="images/new/materiales01.png">
            <div class="buttons">
                <a href="#" class="buttons_item techo">
                    <span class="icon"></span>
                    <p>Techo</p>
                </a>
                <a href="#" class="buttons_item muros">
                    <span class="icon"></span>
                    <p>Muros y puertas</p>
                </a>
                <a href="#" class="buttons_item piso">
                    <span class="icon"></span>
                    <p>Piso</p>
                </a>
                <a href="#" class="buttons_item ventanas">
                    <span class="icon"></span>
                    <p>Ventanas</p>
                </a>
            </div>
        </div>
    </div>
</section>