<section id="section_four" class="section activa">
    <div class="content">
        <div class="price_list">
            <a href="" class="price_item" data-precio="todos_rangos">
                <span class="go_link"></span>
                <p>
                    <span class="price">Todos los precios</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_uno">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$0</span> a <span class="price">$150,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_dos">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$150,000.ºº</span> a <span class="price">$250,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_tres">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$250,000.ºº</span> a <span class="price">$350,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_cuatro">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$350,000.ºº</span> a <span class="price">$450,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_cinco">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$450,000.ºº</span> a <span class="price">$550,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_seis">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$550,000.ºº</span> a <span class="price">$650,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_siete">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$650,000.ºº</span> a <span class="price">$750,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_ocho">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$750,000.ºº</span> a <span class="price">$850,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item" data-precio="rango_nueve">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$850,000.ºº</span> a <span class="price">$950,000.ºº</span>
                </p>
            </a>
        </div>
    </div>
</section>