<section id="section_eight" class="section activa">
    <div class="content">
        <div class="caracteristicas">
            <div class="info_vivienda construccion_info">
                <span class="icon">
                                        
                </span>
                <span class="info">
                    432.1
                </span>
                <p>construcción</p>
            </div>
            <div class="info_vivienda  recamaras_info">
                <span class="icon">
                    
                </span>
                 <span class="info">
                    2
                </span>
                <p>recmaras</p>
            </div>
            <div class="info_vivienda  banios_info">
                <span class="icon">
                    
                </span>
                 <span class="info">
                    1
                </span>
                <p>baños</p>
            </div>   
            <div class="info_vivienda estacionamiento_info">
                <span class="icon">
                    
                </span>
                <span class="info">
                    1
                </span>
                <p>estacionamiento</p>
            </div>   
        </div>
        <div class="info-caracteristicas">
            <div class="map-caracteristicas">
                <img src="images/caracteristicas01.png">
            </div>
            <div class="tipo-caracteristica">
                <span class="pico"></span>
                <div class="vertical adosada aislada imagetipo">
                </div>
                    <p>Edificio</p>                                    
            </div>
        </div>
    </div>
</section>                    