<section id="section_seven" class="section  activa">
    <div class="content">
        <div class="select_calf">
            <ul class="botones_calificacion">
            <li class="item_calf">
                <a href="#" class="selected_calf" id="a">
                    <span class="selected on"></span>
                </a>
            </li>
             <li class="item_calf">
                <a href="#" class="selected_calf" id="b">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="#" class="selected_calf" id="c">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="#" class="selected_calf" id="d">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="#" class="selected_calf" id="e">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="#" class="selected_calf" id="f">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="#" class="selected_calf" id="g">
                    <span class="selected"></span>                                        
                </a>
            </li>

        </ul>
        </div>
        <div id="canvas">
            <div class="round_graphic" id="graphic_design">
                <h3>Eficiencia del diseño arquitectónico</h3>
                <div class="circle" id="circles-1" data-percent="22">           
                </div>
                <!--[if IE 8]>-->        
                    
                <!-- <![endif]-->
                <div class="info_circle">
                    <p class="number">220 <span>%</span></p>
                </div>
                <p>Ahorro energía electricidad y gas</p>            
            </div>
            <div class="round_graphic" id="graphic_energy">
                <h3>Consumo <br>Energético</h3>
                <div class="circle" id="circles-2" data-percent="50">
                </div>
                <!--[if IE 8]>-->        

                <!-- <![endif]-->
                <div class="info_circle">
                    <p class="number">500<span>%</span></p>
                    
                </div>
                <p>Ahorro de energía</p>
            </div>
            <div class="round_graphic" id="graphic_water">
                <h3>Consumo <br>de Agua</h3>
                <div class="circle" id="circles-3" data-percent="18">
                </div>
                <!--[if IE 8]>-->        

                <!-- <![endif]-->
                <div class="info_circle">
                    <p class="number">180<span>%</span></p>
                </div>
                <p>Ahorro de agua</p>
            </div>
            <div class="round_graphic" id="graphic_emisiones">
                <h3>Emisiones<br>de CO2</h3>
                <div class="circle-image" id="circle_4" >
                </div>
                <div class="info_circle">
                    <p class="">123 <span>km/m2</span></p>
                    <span>Ton CO2 / año</span>
                </div>
            </div>

            <div class="round_graphic" id="graphic_save">
                <h3>Ahorro mensual <br>en pesos</h3>
                <div class="circle-image" id="circle_5" >
                </div>
                                                    
                <div class="info_circle">
                    <p class="">$101.0</p>
                    <span>Pesos Aproximado</span>
                </div>
            </div>
        </div>

    </div>
</section>