 <section id="section_nine" class="section activa">
    <div class="content">
        <div class="materiales">
            <img src="images/new/materiales01.png">
            <div class="buttons">
                <a href="#" class="buttons_item agua_btn">
                    <span class="icon"></span>
                    <p>Agua</p>
                </a>
                <a href="#" class="buttons_item luz_btn">
                    <span class="icon"></span>
                    <p>Luz</p>
                </a>
                
            </div>
        </div>
    </div>
</section>
<!--MODAL PARA DESCRIPCIÓN DE MATERIALES-->
                    <section id="section_ten" class="section ">
                        <div class="content">   
                            <div id="modal_box" class="modal_box modal_caracteristicas">
                                <div class="container_modal">
                                    <div class="content_modal" data-modal="agua">
                                        <a id="close_modal" class="close_modal"></a>                                    
                                        <div class="modal_title">
                                            <h2>AGUA</h2>
                                            <p>Ahorro mensual con base en la zona bioclimatica : CALIDO SEMIHUMEDO</p>
                                        </div>
                                       
                                        <div class="data-table" id="modal_table">
                                            <div class="table-header">
                                                <div class="item-row">
                                                    <div class="item-column item_one">
                                                        <p>Imágen</p>
                                                    </div>
                                            
                                                    <div class="item-column item_two">
                                                        <p>Ecotecnología</p>
                                                    </div>
                                                    <div class="item-column item_three">
                                                        <p>Ahorro mensual</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-content contenido_de_la_tabla" id="table_one">
                                                <div class="items-table">
                                                    <div class="item-row">
                                                        <div class="item-column item_one">
                                                            <div class="circle">
                                                                <img src="/images/new/imagen01.png" >
                                                            </div>
                                                        </div>
                                                        <div class="item-column item_two">
                                                            <p >Una regadera grado ecológico con    dispositivo ahorrador integrado</p>
                                                        </div>
                                                        <div class="item-column item_three">
                                                            <p>$7.00</p>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="items-table">
                                                    <div class="item-row">
                                                        <div class="item-column item_one">
                                                            <div class="circle">
                                                                <img src="/images/new/imagen01.png" >
                                                            </div>
                                                        </div>
                                                        <div class="item-column item_two">
                                                            <p >Una regadera grado ecológico con    dispositivo ahorrador integrado</p>
                                                        </div>
                                                        <div class="item-column item_three">
                                                            <p>$7.00</p>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="items-table">
                                                    <div class="item-row">
                                                        <div class="item-column item_one">
                                                            <div class="circle">
                                                                <img src="/images/new/imagen01.png" >
                                                            </div>
                                                        </div>
                                                        <div class="item-column item_two">
                                                            <p >Una regadera grado ecológico con    dispositivo ahorrador integrado</p>
                                                        </div>
                                                        <div class="item-column item_three">
                                                            <p>$7.00</p>
                                                        </div>
                                                    </div>
                                                </div>                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>