<section id="section_three" class="section ">
    <div class="content">
        <ul class="botones_calificacion">
            <li class="item_calf">
                <a class="selected_calf" data-calif="a" id="a">
                    <span class="selected on"></span>
                </a>
            </li>
             <li class="item_calf">
                <a class="selected_calf" data-calif="b" id="b">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a class="selected_calf" data-calif="c" id="c">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a class="selected_calf" data-calif="d" id="d">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a class="selected_calf" data-calif="e" id="e">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a class="selected_calf" data-calif="f" id="f"> 
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a class="selected_calf" data-calif="g" id="g">
                    <span class="selected"></span>                                        
                </a>
            </li>

        </ul>
    </div>
</section>       