<section id="section_five" class="section activa">
    <div class="content">
        <div class="tipodevivienda ">
            <div class="item-tipovivienda"  id="tipo_vertical">
                <a href="">
                    <div class="image-tipovivienda">
                    </div>
                    <div class="text-tipovivienda">                                        
                        <p>Vertical</p>
                    </div>
                </a>
            </div>
            <div class="item-tipovivienda tipo_02" id="tipo_adosada">
                <a href="">
                    <div class="image-tipovivienda" >
                    </div>
                    <div class="text-tipovivienda">                                         
                        <p>Adosada</p>
                    </div>
                </a>
            </div>
            <div class="item-tipovivienda tipo_03" id="tipo_aislada">
                <a href="">
                    <div class="image-tipovivienda" >
                    </div>
                    <div class="text-tipovivienda">                                         
                        <p>Aislada</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
