<section id="section_four" class="section activa">
    <div class="content">
        <div class="price_list">
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$0</span> a <span class="price">$150,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$150,000.ºº</span> a <span class="price">$250,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$250,000.ºº</span> a <span class="price">$350,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$350,000.ºº</span> a <span class="price">$450,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$450,000.ºº</span> a <span class="price">$550,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$550,000.ºº</span> a <span class="price">$650,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$650,000.ºº</span> a <span class="price">$750,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$750,000.ºº</span> a <span class="price">$850,000.ºº</span>
                </p>
            </a>
            <a href="" class="price_item">
                <span class="go_link"></span>
                <p>
                    de <span class="price">$850,000.ºº</span> a <span class="price">$950,000.ºº</span>
                </p>
            </a>
        </div>
    </div>
</section>