<section id="section_three" class="section activa">
    <div class="content">
        <ul class="botones_calificacion">
            <li class="item_calf">
                <a href="rangosprecio.html" class="selected_calf" data-calif="a">
                    <span class="selected on"></span>
                </a>
            </li>
             <li class="item_calf">
                <a href="rangosprecio.html" class="selected_calf" data-calif="a">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="rangosprecio.html" class="selected_calf" data-calif="a">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="rangosprecio.html" class="selected_calf" data-calif="a">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="rangosprecio.html" class="selected_calf" data-calif="a">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="rangosprecio.html" class="selected_calf" data-calif="a">
                    <span class="selected"></span>                                        
                </a>
            </li>
             <li class="item_calf">
                <a href="rangosprecio.html" class="selected_calf" data-calif="a">
                    <span class="selected"></span>                                        
                </a>
            </li>

        </ul>
    </div>
</section>       