 <section id="section_six" class="section activa">
    <div class="content">
        <div class="content_table">
            <table id="calificacion_table">
                <thead class="table-header">
                    <tr>
                        <td>Calificación</td>
                        <td>Tipo de vivienda</td>
                        <td>Descripción</td>
                        <td>Selección</td>
                    </tr>
                </thead>
                <tbody class="body_table">
                    <tr>
                        <td class="calf_column" >
                            <div class="calificacion_image" data-calif="a"></div>
                        </td>
                        <td class="tipo_column">
                            <img src="images/casi01.png">
                            <div class="info_vivienda precio_info">
                                <span class="icon">
                                    
                                </span>
                                <span class="info">
                                    $699,999.00
                                </span>
                            </div>
                        </td>
                        <td class="descripcion_column">
                            <h6 class="address">Turmalina #102, Los Heroes Monterrey, 012, Nuevo Leon</h6>
                            <p class="description">
                                Donec sit amet arcu ac tellus dapibus posuere a et purus. Pellentesque blandit nibh enim, at hendrerit turpis pretium ac. Ut suscipit orci a tellus blandit volutpat. 
                            </p>
                            <div class="assets">
                                 <div class="info_vivienda construccion_info">
                                    <span class="icon">
                                        
                                    </span>
                                    <span class="info">
                                        432.1
                                    </span>
                                    <p>construcción</p>
                                </div>
                                <div class="info_vivienda  recamaras_info">
                                    <span class="icon">
                                        
                                    </span>
                                     <span class="info">
                                        2
                                    </span>
                                    <p>recamaras</p>
                                </div>
                                <div class="info_vivienda  banios_info">
                                    <span class="icon">
                                        
                                    </span>
                                     <span class="info">
                                        1
                                    </span>
                                    <p>baños</p>
                                </div>   
                                <div class="info_vivienda estacionamiento_info">
                                    <span class="icon">
                                        
                                    </span>
                                    <span class="info">
                                        1
                                    </span>
                                    <p>estacionamiento</p>
                                </div>   
                            </div>
                        </td>
                        <td class="precio_column">
                            <a class="more_button">
                                <p>seleccionar</p>
                            </a>
                            <a href="" class="button ubicacion_button">
                                <span class="icon">
                                    
                                </span>
                                <p>ubicación</p>
                            </a>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="calf_column" >
                            <div class="calificacion_image" data-calif="a"></div>
                        </td>
                        <td class="tipo_column">
                            <img src="images/casi01.png">
                            <div class="info_vivienda precio_info">
                                <span class="icon">
                                    
                                </span>
                                <span class="info">
                                    $699,999.00
                                </span>
                            </div>
                        </td>
                        <td class="descripcion_column">
                            <h6 class="address">Turmalina #102, Los Heroes Monterrey, 012, Nuevo Leon</h6>
                            <p class="description">
                                Donec sit amet arcu ac tellus dapibus posuere a et purus. Pellentesque blandit nibh enim, at hendrerit turpis pretium ac. Ut suscipit orci a tellus blandit volutpat. 
                            </p>
                            <div class="assets">
                                 <div class="info_vivienda construccion_info">
                                    <span class="icon">
                                        
                                    </span>
                                    <span class="info">
                                        432.1
                                    </span>
                                    <p>construcción</p>
                                </div>
                                <div class="info_vivienda  recamaras_info">
                                    <span class="icon">
                                        
                                    </span>
                                     <span class="info">
                                        2
                                    </span>
                                    <p>recamaras</p>
                                </div>
                                <div class="info_vivienda  banios_info">
                                    <span class="icon">
                                        
                                    </span>
                                     <span class="info">
                                        1
                                    </span>
                                    <p>baños</p>
                                </div>   
                                <div class="info_vivienda estacionamiento_info">
                                    <span class="icon">
                                        
                                    </span>
                                    <span class="info">
                                        1
                                    </span>
                                    <p>estacionamiento</p>
                                </div>   
                            </div>
                        </td>
                        <td class="precio_column">
                            <a  class="more_button">
                                <p>seleccionar</p>
                            </a>
                            <a href="" class="button ubicacion_button">
                                <span class="icon">
                                    
                                </span>
                                <p>ubicación</p>
                            </a>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="calf_column" >
                            <div class="calificacion_image" data-calif="a"></div>
                        </td>
                        <td class="tipo_column">
                            <img src="images/casi01.png">
                            <div class="info_vivienda precio_info">
                                <span class="icon">
                                    
                                </span>
                                <span class="info">
                                    $699,999.00
                                </span>
                            </div>
                        </td>
                        <td class="descripcion_column">
                            <h6 class="address">Turmalina #102, Los Heroes Monterrey, 012, Nuevo Leon</h6>
                            <p class="description">
                                Donec sit amet arcu ac tellus dapibus posuere a et purus. Pellentesque blandit nibh enim, at hendrerit turpis pretium ac. Ut suscipit orci a tellus blandit volutpat. 
                            </p>
                            <div class="assets">
                                 <div class="info_vivienda construccion_info">
                                    <span class="icon">
                                        
                                    </span>
                                    <span class="info">
                                        432.1
                                    </span>
                                    <p>construcción</p>
                                </div>
                                <div class="info_vivienda  recamaras_info">
                                    <span class="icon">
                                        
                                    </span>
                                     <span class="info">
                                        2
                                    </span>
                                    <p>recamaras</p>
                                </div>
                                <div class="info_vivienda  banios_info">
                                    <span class="icon">
                                        
                                    </span>
                                     <span class="info">
                                        1
                                    </span>
                                    <p>baños</p>
                                </div>   
                                <div class="info_vivienda estacionamiento_info">
                                    <span class="icon">
                                        
                                    </span>
                                    <span class="info">
                                        1
                                    </span>
                                    <p>estacionamiento</p>
                                </div>   
                            </div>
                        </td>
                        <td class="precio_column">
                            <a  class="more_button">
                                <p>seleccionar</p>
                            </a>
                            <a href="" class="button ubicacion_button">
                                <span class="icon">
                                    
                                </span>
                                <p>ubicación</p>
                            </a>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="calf_column" >
                            <div class="calificacion_image" data-calif="a"></div>
                        </td>
                        <td class="tipo_column">
                            <img src="images/casi01.png">
                            <div class="info_vivienda precio_info">
                                <span class="icon">
                                    
                                </span>
                                <span class="info">
                                    $699,999.00
                                </span>
                            </div>
                        </td>
                        <td class="descripcion_column">
                            <h6 class="address">Turmalina #102, Los Heroes Monterrey, 012, Nuevo Leon</h6>
                            <p class="description">
                                Donec sit amet arcu ac tellus dapibus posuere a et purus. Pellentesque blandit nibh enim, at hendrerit turpis pretium ac. Ut suscipit orci a tellus blandit volutpat. 
                            </p>
                            <div class="assets">
                                 <div class="info_vivienda construccion_info">
                                    <span class="icon">
                                        
                                    </span>
                                    <span class="info">
                                        432.1
                                    </span>
                                    <p>construcción</p>
                                </div>
                                <div class="info_vivienda  recamaras_info">
                                    <span class="icon">
                                        
                                    </span>
                                     <span class="info">
                                        2
                                    </span>
                                    <p>recamaras</p>
                                </div>
                                <div class="info_vivienda  banios_info">
                                    <span class="icon">
                                        
                                    </span>
                                     <span class="info">
                                        1
                                    </span>
                                    <p>baños</p>
                                </div>   
                                <div class="info_vivienda estacionamiento_info">
                                    <span class="icon">
                                        
                                    </span>
                                    <span class="info">
                                        1
                                    </span>
                                    <p>estacionamiento</p>
                                </div>   
                            </div>
                        </td>
                        <td class="precio_column">
                            <a  class="more_button">
                                <p>seleccionar</p>
                            </a>
                            <a href="" class="button ubicacion_button">
                                <span class="icon">
                                    
                                </span>
                                <p>ubicación</p>
                            </a>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>